
/** Google font **/

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Medium.woff2') format('woff2'),
        url('../fonts/Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{


    font-family: 'Futura';


}
img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1200px;
    margin: auto;

}
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}
.alignCenter{
    align-items: center;
}
.justifyCenter{
    justify-content: center;
}

.flex_direction{
    flex-direction: column;
}
.gap{
    gap:20%;
}
.gap-50 {
    gap: 50px;
}

element.style {

}
.sectionPadding{

    padding: 80px 0;
}
/***** Header css ****/

header {
    padding: 20px 0;
    background: #fafafa;
    border-bottom: 2px solid #05141a29;
}

.logo {
    flex-basis: 10%;
}
.logo a{

}

nav {
    flex-basis: 90%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
}
ul li a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
    color: #222;
    padding: 10px 16px;
    display: block;
    border-radius: 5px;
}

ul li a:hover{
    color: #fff;
    background: #0393CC;
    transition-duration: .4s;

}


.bg-color{

  background-color: #E6F4FA;  
}
.bg-color2{

    background-color: #F1F5F9;  
  }
.bg-blue{
    background-color: #0594CD;
}
.bg-white{
    background: #fff !important;
}
.text-white{

    color:#fff;
}
.sectionPadding{

    padding: 60px 0;
}
section.banner {
    background: #0594CD url(../img/banner.png);
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-blend-mode: darken;
}

section.banner h1 {
    color: #fff;
}
section.banner h1 {
    color: #D2AC4F;
    font-size: 73px;
}


.serviceText {
    flex-basis: 42%;
}

.serviceText h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 21px;
    color: #ADA6BA;
}
.serviceText p {
    line-height: 24px;
    color: #ADA6BA;
}
.serviceImage {
    flex-basis: 50%;
}

.serviceImage img {
    border-radius: 20px;

}
a.btn-more {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: #ADA6BA;
    font-style: italic;
}

.faq-section {
    padding: 80px 0;
}

.accordion {
    width: 70%;
    margin: 0 auto;
    margin-top: 54px;
}
.title h3 {
    color: #1278D5;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.accordion .accordion-item{
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-titel{

    padding: 10px 15px;
    cursor: pointer;
}
.accordion-contant {
    padding: 15px;

    display: none;
    font-size: 24px;
}
.accordion-titel h2  span{
    float: right;
}



section.box_info {
    background: #1D232A;
    padding: 90px 0;
}
.boxRotatte {
    transform: rotate(3deg);
}
.single-infoBox {
    flex-basis: 30.33%;
    text-align: center;
    background: #0393C7;
    padding: 26px;
    border-radius: 23px;
    
}
.callToaction {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-infoBox h3 {
    margin-bottom: 52px;
    margin-top: 30px;
    font-size: 24px;
}
.callToaction h3 {
    font-size: 70px;
    color: #A6ADBA;
    margin: 30px 0;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.callToaction h4 a {
    font-size: 70px;
    font-weight: 900;
}


@media screen and (max-width: 767px) {
   
    .flex {
        display: flex;
        flex-direction: column;
    }
    section.banner h1 {
        color: #D2AC4F;
        font-size: 51px;
        text-align: center;
    }
    .serviceText h2 {
        font-size: 18px;
    }

    .serviceImage {
        flex-basis: 50%;
        margin: 30px 0;
    }

    .single-infoBox {
      
        margin-bottom: 29px;
    }
    .callToaction h3 {
        font-size: 33px;
        text-align: center;
    }
    .callToaction h4 a {
        font-size: 39px;
        font-weight: 900;
        text-align: center;
    }
}

